.body {
    background-color: rgb(1, 1, 9);
    color: white;
}

.root-container {
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
}

.user-profile {
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 26, 226, 0.778);
    color: white;
    border-radius: 4px;
}

.tracker {
    border: 1px solid hotpink
}