body {
    background-color: rgb(1, 1, 9);
    color: white;
}

.root-container {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 11px;
}

.user-info {
    padding: 40px 20px;
    background-color: rgba(73, 26, 226);
    border-radius: 15px;
    z-index: 10;
}

.report {
    margin: 0;
    padding-top: 20px;
}

.user-name {
    font-size: 28px;
    margin: auto;
    padding-bottom: 30px;
}

.user-scheadule {
    background-color: blueviolet;
    padding: 30px 20px;
    border-radius: 9px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -17px;
}

.tracker {
    display: flex;
    border: 1px solid teal;
}

.button {
    background: none;
    color: white;
    border: none;
}